body,
html,
* {
  margin: 0;
  padding: 0;
  font-family: "franklin-gothic-urw", sans-serif;
}

.video-main-container {
  position: relative;
  padding-bottom: 1px;
}

h1 {
  font-family: "pt-serif", serif;
  font-size: 7em;
  letter-spacing: .05em;
}

@media (max-width: 1024px) {
  h1 {
      font-size: 4em;
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 3em;
  }
}

@media (max-width: 425px) {
  h1 {
      font-size: 2em;
  }
}

h2 {
  font-family: "pt-serif", serif;
  font-style: italic;
}

.card-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  position: relative;
  width: 700px;
  max-width: calc(100% - 20px);
  margin: 0 auto 90vh;
}

.card::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: -20px; /* Offset the border above the div by 10px */
  left: 0;
  right: 0;
  height: 8px; /* The thickness of the border */
  background-color: rgba(231, 193, 186, 0.8); 
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 32px;
  color: #fff;
  max-width: 700px;
}

#red-card {
  background-color: #a4353b;
  color: #fff;
  border-radius: 0 0 30px 0;
}

#white-card {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 0 0 30px 0;
}

.card p {
  line-height: 1.6;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer {
  margin: 5rem auto;
  max-width: 600px;
}

.header-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Adjust the number of columns as needed */
  grid-gap: 10px;
  /* Adjust the gap size as needed */
  padding: 20px;
}

.grid-item {
  background-color: maroon;
  /* Placeholder for images */
  padding-bottom: 100%;
  /* This gives a square aspect ratio */
  border: 1px dashed white;
}

.cta-button {
  background-color: maroon;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px 0 15px 0;
  font-size: 24px;
}

.cta-button:hover {
  background-color: #a52a2a;
}