body,
html,
* {
  margin: 0;
  padding: 0;
  font-family: "franklin-gothic-urw", sans-serif;
}

.video-main-container {
  position: relative;
  padding-bottom: 1px;
}

h1 {
  font-family: "franklin-gothic-urw", serif;
  font-size: 6em;
  color: #fef5ed;
  letter-spacing: .01em;
  margin: 1em 0 0.25em 0;
}

@media (max-width: 1024px) {
  h1 {
      font-size: 4em;
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: 3em;
  }
}

@media (max-width: 425px) {
  h1 {
      font-size: 1.75em;
  }
}

h2 {
  font-family: "pt-serif", serif;
  font-style: italic;
}


.header-container {
  background-color: #000;
  color: #fef5ed;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

@media (max-width: 425px) {
  .header-container {
    padding: 5px;
  }
}

.header-container p {
  font-family: 'PT Serif', serif;
  text-align: center;
  line-height: 1.6;
  font-size: 2em;
  margin: 0 auto 2em auto;
  width: 60%;
  font-style: italic;
}

@media (max-width: 425px) {
  .header-container p {
    width: 90%;
    line-height: 1.2;
    font-size: 1.5em;
  }
}

.card-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  position: relative;
  width: 700px;
  max-width: calc(100% - 20px);
  margin: 0 auto 90vh;
}

.card::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute;
  top: -20px; /* Offset the border above the div by 10px */
  left: 0;
  right: 0;
  height: 8px; /* The thickness of the border */
  background-color: rgba(248, 215, 188, 0.8); 
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 32px;
  color: #fff;
  max-width: 700px;
}

#red-card {
  background-color: #ec8f49;
  color: #fff;
  border-radius: 0 0 30px 0;
}

#white-card {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 0 0 30px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card p {
  line-height: 1.6;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer {
  margin: 5rem auto;
  max-width: 700px;
}

.footer h2 {
  font-size: 2em;
  font-style: italic;
  font-family: "PT Serif", serif;
  color: #e87722;
  margin: 0 0 .5em;
}

.footer-para {
  line-height: 1.6;
  font-size: 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  padding: 40px 40px 0 40px;
}

@media (max-width: 768px) {
  .grid {
    grid-gap: 10px;
    padding: 10px 10px 0 10px;
  }
}

.grid-item {
  background-color: #ec8f49;
  padding-bottom: 100%;
  border: 4px solid #fff ;
  position: relative; /* Added for absolute positioning of the content */
}

.grid-item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

/* Unique grid satellite backgrounds */

#grid-one {
  background-image: url('../images/grid-one-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-two {
  background-image: url('../images/grid-two-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-three {
  background-image: url('../images/grid-three-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-four {
  background-image: url('../images/grid-four-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-five {
  background-image: url('../images/grid-five-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-six {
  background-image: url('../images/grid-six-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-seven {
  background-image: url('../images/grid-seven-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-eight {
  background-image: url('../images/grid-eight-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-nine {
  background-image: url('../images/grid-nine-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

#grid-ten {
  background-image: url('../images/grid-ten-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}


@keyframes fadeIn {
  to {
    opacity: .8;
  }
}

/* First Grid Image */
#image-one {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 1s; /* Start after 1 second */
}

/* Second Grid Image */
#image-two {
  opacity: 0;
  animation: fadeIn 3s ease forwards;
  animation-delay: 1.5s; /* Start 0.5 seconds after the first */
}

/* Third Grid Image */
#image-three {
  opacity: 0;
  animation: fadeIn 4.5s ease forwards;
  animation-delay: 2s; /* Start 0.5 seconds after the second */
}

/* Fourth Grid Image */
#image-four {
  opacity: 0;
  animation: fadeIn 5s ease forwards;
  animation-delay: 2.5s; /* Start 0.5 seconds after the third */
}

/* Fifth Grid Image */
#image-five {
  opacity: 0;
  animation: fadeIn 5.5s ease forwards;
  animation-delay: 3s; /* Start 0.5 seconds after the fourth */
}

/* Sixth Grid Image */
#image-six {
  opacity: 0;
  animation: fadeIn 6s ease forwards;
  animation-delay: 3.5s; /* Start 0.5 seconds after the fifth */
}

/* Seventh Grid Image */
#image-seven {
  opacity: 0;
  animation: fadeIn 6s ease forwards;
  animation-delay: 4s; /* Start 0.5 seconds after the sixth */
}

/* Eighth Grid Image */
#image-eight {
  opacity: 0;
  animation: fadeIn 6s ease forwards;
  animation-delay: 4.5s; /* Start 0.5 seconds after the seventh */
}

/* Ninth Grid Image */
#image-nine {
  opacity: 0;
  animation: fadeIn 6s ease forwards;
  animation-delay: 5s; /* Start 0.5 seconds after the eighth */
}

/* Tenth Grid Image */
#image-ten {
  opacity: 0;
  animation: fadeIn 6s ease forwards;
  animation-delay: 5.5s; /* Start 0.5 seconds after the ninth */
}